/* Reset básico para remover margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.error-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.error-container h2 {
    margin: 10px 0;
    font-size: 24px;
    color: #333;
}

.error-container p {
    color: #777;
    margin-bottom: 20px;
}

.error-container a {
    text-decoration: none;
    color: #0077b5;
}

.btn-secondary {
    background-color: #6c757d; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.btn-secondary:hover {
    background-color: #5a6268; /* Cor de fundo do botão ao passar o mouse */
}
